<!-- Delete Modal  -->
<div class="modal fade" id="deleteModal-<%- item.id %>" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body">
              Are you sure you want to delete this item? 
          </div>
         
          <div class="modal-footer">
              <form action="/items/<%- item.id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              </form>
          </div>     
    </div>
  </div>
</div>